<h1>Profile for <%= @employee.name %> </h1>

Date of Birth: <%= @employee_profile.birthday %><br>
Age:  <%= @employee_profile.age %><br>
Height (in inches): <%= @employee_profile.height %><br>
Favorite Food: <%= @employee_profile.fav_food %><br>
Favorite Day: <%= @employee_profile.fav_day %><br>
Link to Photo: <%= @employee_profile.photo_url %>
<br>
Salary: $<%= @employee_profile.salary %><br>
